/* Style Background for both HTML */

.gameHTML {
    text-align: center;
    background-image: url(https://images3.alphacoders.com/282/thumb-1920-2829.jpg);
    background-size: cover;
    -moz-background-size: cover;
    background-attachment: fixed;
    background-position: bottom;
    background-repeat: no-repeat;
}

.indexHTML {
    text-align: center;
    background-image: url(https://images3.alphacoders.com/282/thumb-1920-2829.jpg);
    background-size: cover;
    -moz-background-size: cover;
    background-attachment: fixed;
    background-position: bottom;
    background-repeat: no-repeat;
}

/* Style INDEX.HTML elements (h1 & h2 => both html files)*/

h1 {
    font-family: 'Black Ops One', cursive;
    font-size: 50pt;
    color: rgb(79, 84, 114);
    text-shadow: 1px 1px 2px white;
    margin: 5px;
}

h2 {
    font-family: 'Black Ops One', cursive;
    font-size: 70pt;
    text-shadow: 2px 2px 2px white;
    margin: 5px;
}

.instruction {
    font-family: 'Graduate', cursive;
    font-weight: bolder;
    font-size: 50px;
}

.description {
    font-family: 'Graduate', cursive;
    font-weight: bolder;
    font-size: 30px;
    text-shadow: 1px 1px 2px white;
}

h3 {
    font-family: 'Graduate', cursive;
    font-weight: bolder;
    text-shadow: 2px 2px 4px white;
}

.beware {
    color: rgb(148, 1, 1);
}

/* INDEX.HTML - SHIP ANIMATION */

.ship1 {    
    margin-top: 30px;
    animation-name: slide-from-right;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    position: absolute;
    overflow-x: hidden;
}

@keyframes slide-from-right {
    from {
        right: 100%;
    }
    to {
        right: -50%;
    }
}

/* INDEX.HTML - BUTTON */

.landButton {
    background-color: black;
    color: rgb(187, 187, 235);
    border: black;
    border-radius: 20px;
    width: 400px;
    height: 100px;font-family: 'Graduate', cursive;
    font-weight: bolder;
    font-size: 30px;
    text-shadow: 2px 2px 4px white;
}

/* Style GAME.HTML Elements*/

.track {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 70px;
    margin-bottom: 5px;

}
.count {
    width: 200px;
}
.shot {
    border-bottom: 6px solid black;
    font-family: 'Roboto Slab', serif;
    font-size: 20px;
    font-weight: bold;
    text-shadow: 1px 1px 2px white;

}

.shotcount {
    margin-top: 5px;
    font-family: 'Roboto Slab', serif;
    font-weight: bold;
    font-size: 30px;
}

.score {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    width: 200px;
}

.hit {
    font-family: 'Roboto Slab', serif;
    font-size: 20px;
    font-weight: bold;
    text-shadow: 1px 1px 2px white;
    border-bottom: 6px solid black;
    height: 25px;


}

.miss {
    font-family: 'Roboto Slab', serif;
    font-size: 20px;
    font-weight: bold;
    text-shadow: 1px 1px 2px white;
    border-bottom: 6px solid black;
    height: 25px;


}

.hitcount {
    margin-top: 5px;
    font-family: 'Roboto Slab', serif;
    font-weight: bold;
    font-size: 30px;
}

.misscount {
    margin-top: 5px;
    font-family: 'Roboto Slab', serif;
    font-weight: bold;
    font-size: 30px;
}

.message {
    margin: auto;
    margin-top: 5px;
    margin-bottom: 10px;
    font-size: 30pt;
    height: 50px;
    font-family: 'Graduate', cursive;
    font-weight: bolder;
    text-shadow: 1px 1px 2px white;
}

.container {
    display: flex;
}

.board {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-auto-columns: 1fr;
    grid-auto-flow: row;
    height: 500px;
    width: 500px;
    margin: auto;
    border: 5px solid black;
    background-color: white;
}

/* Style ships next to board in GAME.HTML */

.ships3 {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 500px;
    width: 200px;
    margin: auto;
}

.ships2 {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 500px;
    width: 200px;
    margin: auto;
}

.shipbox {
    border: 2px solid black;
    border-radius: 20px;
    width: 220px;
}

.destroyer {
    height: 100px;
    width: 200px;
}

.submarine {
    height: 100px;
    width: 200px;
}

.cruiser {
    height: 100px;
    width: 200px;
}

.battleship {
    height: 100px;
    width: 200px;
}

.carrier {
    height: 100px;
    width: 200px;
}

.cell {
    border: 2px solid darkgrey;
    font-size: 23pt;
}

.shiptext {
    font-family: 'Graduate', cursive;
    font-weight: bolder;
    text-shadow: 1px 1px 6px white;
}

/* change color when mouse hovers over cell */

div.cell:hover {
    background-color: rgb(142, 164, 171);
}

/* Style GAME.HTML buttons */

.buttonSection {
    margin-top: 5px;
    display: flex;
    justify-content: center;
}

.restart {
    background-color: black;
    color: rgb(187, 187, 235);
    border: black;
    border-radius: 20px;
    width: 300px;
    height: 50px;
    font-family: 'Graduate', cursive;
    font-weight: bolder;
    font-size: 20px;
    margin: 5px 5px;

}

.gameButton {
    background-color: black;
    color: rgb(187, 187, 235);
    border: black;
    border-radius: 20px;
    width: 300px;
    height: 50px;
    font-family: 'Graduate', cursive;
    font-weight: bolder;
    font-size: 20px;
    margin: 5px 5px;
}

/* Style Modal */

.winlose {
    z-index: 1000;
    height: 400px;
    width: 600px;
    border: 6px solid black;
    background-color: rgb(67, 81, 89);
    position: fixed;
    top: 30%;
    bottom: 50%;
    left: 30%;
    right: 50%;
}

.wlmessage {
    font-family: 'Black Ops One', cursive;
    font-weight: bolder;
    font-size: 70pt;
    text-shadow: 2px 2px 6px white;
    margin-bottom: 30px;
}

.playagain {
    font-family: 'Black Ops One', cursive;
    font-weight: bolder;
    font-size: 30pt;
    text-shadow: 2px 2px 6px white;
    margin-bottom: 30px;
}

/* Style Modal Buttons */

.yes {
    height: 60px;
    width: 200px;
    margin-right: 10px;
    border-radius: 30px;
    font-family: 'Graduate', cursive;
    font-weight: bolder;
    font-size: 40px;
    color: rgb(138, 154, 167);    
    text-shadow: 2px 3px 4px black;
}

.no {
    height: 60px;
    width: 200px;
    margin-left: 10px;
    border-radius: 30px;
    font-family: 'Graduate', cursive;
    font-weight: bolder;
    font-size: 40px;
    color: rgb(138, 154, 167);
    text-shadow: 2px 3px 4px black;
}

/* CLASS to be added in js to boxes[i] to disable event listener */

.disable {
    pointer-events: none;
}