body {
    text-align: center;
}
.track {
    display: flex;
}
.count {
    margin: auto;
}

.score {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    margin:auto;
}


.message {
    margin: auto;
    font-size: 30pt;
    height: 50px;
}

.board {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-auto-columns: 1fr;
    grid-auto-flow: row;
    height: 500px;
    width: 500px;
    margin: auto;
    border: 5px solid black;
}

.cell {
    border: 2px solid darkgrey;
    font-size: 23pt;;
}
